DISCORD_WEBHOOK_URL=https://discordapp.com/api/webhooks/your_webhook_address
SENDGRID_API_KEY=SG.your_sendgrid_api_key
EMAIL_FROM=alerts@your_domain.com
EMAIL_TO=your_email@your_domain.com
LOG_FILE=./zpool-status.log
